.head {
	position: absolute;
	top: 0px;
	height: 48px;
} 

.messages {
	position: absolute;
	height: 64px;
	top: 48px;
	overflow: none;
	width: 99%; /* scrollbar might be 1% wide */
	margin-left: 8px;
	margin-right: 8px;
/*	box-shadow: 6px 6px 3px lightgrey; */
}

.body {
	position: absolute;
	top: 116px;
	padding: 4px;
	width: 100%
}

.foot {
	position: absolute;
	bottom: 0px;
	height: 24px;
	width: 100%;
}
